<div class="container">
  Todo:
  <ol>
    <li>Modify user sign-up process to reflect the usage of the app (include ingame name, rank, 2 preferred roles and region )</li>
    <li>Modify and create the process of creating a team, create logic to assign a rank to a team based on the average rank of its members</li>
    <li>Figure out logic for applying to a team and accepting/declining invitations</li>
  </ol>
</div>